<section class="section">
     <div class="container">
        <h1 class="first-title">Популярні інетрактивні ігри</h1>
  <div class="box-age">
        <h2 class="all-title">Перевір в який рік ти народився</h2>
            <form class="form-age">
                <input class="form-age-text" placeholder="Введіть рік народження" type="number"/> 
                <button class="form-age-btn"> <img src="../img/dandruff.png"></button> 
                <p class="form-computer-text">Ви народилися у високосний рік!</p>
            </form>
        </div>
    </div>
</section> 
   