<section class="section calculator" id="4">
    <div class="container">
        <h2 class="all-title">Калькулятор</h2>
        <div class="calculator-container">
        <form class="calculator-form">
            <input class="number-one number" placeholder="Введіть число" type="number">
        </form>
        <div class="calculator-box">
            <button class="calculator-symbol" type="button" id="plus">+</button>
            <button class="calculator-symbol" type="button" id="multi">*</button>
            <button class="calculator-symbol" type="button" id="minus">-</button>
            <button class="calculator-symbol" type="button" id="divid">/</button>
        </div>
        <form class="">
            <input class="number-two number" placeholder="Введіть число" type="number">
        </form>
        <button class="calculator-symbol" type="button" id="equals">=</button>
        <form class="">
            <input class="calculator-result" placeholder="Результат" type="text">
        </form>
    </div>
    </div>
</section>