<section class="section">
    <div class="container">
        <h2 class="all-title">Калькулятор</h2>
        <form class="">
            <input class="" placeholder="Введіть число" type="number">
        </form>
        <div class="calcolator-box">
            <button class="calculator-symbol" type="button">+</button>
            <button class="calculator-symbol" type="button">*</button>
            <button class="calculator-symbol" type="button">-</button>
            <button class="calculator-symbol" type="button">/</button>
        </div>
        <form class="">
            <input class="" placeholder="Введіть число" type="number">
        </form>
        <button class="calculator-symbol" type="button">=</button>
        <form class="">
            <input class="" placeholder="Результат" type="number">
        </form>
    </div>
</section>