<section class="section" id="10">
    <div class="container">
        <h2 class="all-title">Обери вченого/их</h2>
        <div class="foto-box">
            <div class="foto">
            <img class="foto-img" src="./img/Albert_Einstein.jpeg" alt="Albert Einstein">
            <p class="foto-text">Albert Einstein</p>
            </div>
            <div class="foto">
            <img src="./img/Isaac-Newton.jpeg" alt="Isaac Newton" class="foto-img">
            <p class="foto-text">Isaac Newton</p>
            </div>
            <div class="foto">
            <img src="./img/Galileo-Galilei.jpeg" alt="Galileo Galilei" class="foto-img">
            <p class="foto-text">Galileo Galilei</p>
            </div>
            <div class="foto">
            <img src="./img/Marie-Curie.jpeg" alt="Marie Curie" class="foto-img">
            <p class="foto-text">Marie Curie</p>
            </div>
            <div class="foto">
            <img src="./img/Johannes-Kepler.jpeg" alt="Johannes Kepler" class="foto-img">
            <p class="foto-text">Johannes Kepler</p>
            </div>
            <div class="foto">
            <img src="./img/Nicolaus-Copernicus.jpeg" alt="Nicolaus Copernicus" class="foto-img">
            <p class="foto-text">Nicolaus Copernicus</p>
            </div>
            <div class="foto">
            <img src="./img/Max-Planck.jpeg" alt="Max Planck" class="foto-img">
            <p class="foto-text">Max Planck</p>
            </div>
            <div class="foto">
            <img src="./img/Katherine-Blodgett.jpeg" alt="Katherine Blodgett" class="foto-img">
            <p class="foto-text">Katherine Blodgett</p>
            </div>
            <div class="foto">
            <img src="./img/Ada-Lovelace.png" alt="Ada Lovelace" class="foto-img">
            <p class="foto-text">Ada Lovelace</p>
            </div>
            <div class="foto">
            <img src="./img/Sarah-E.-Goode.jpeg" alt="Sarah E. Goode" class="foto-img">
            <p class="foto-text">Sarah E. Goode</p>
            </div>
            <div class="foto">
            <img src="./img/Lise-Meitner.jpeg" alt="Lise Meitner" class="foto-img">
            <p class="foto-text">Lise Meitner</p>
            </div>
            <div class="foto">
            <img src="./img/Hanna-Hammarström.jpeg" alt="Hanna Hammarström" class="foto-img">
            <p class="foto-text">Hanna Hammarström</p>
            </div>
        </div>
        <div class="task-box">
            <button  type="button" class="task">Які вчені народилися в 19 ст.</button>
            <button  type="button" class="task">Відсортувати вчених за алфавітом</button>
            <button  type="button" class="task">Відсортувати вчених за кількістю прожитих років</button>
            <button  type="button" class="task">Знайти вченого, який народився найпізніше</button>
            <button  type="button" class="task">Знайти рік народження Albert Einshtein</button>
            <button  type="button" class="task">Знайти вчених, прізвища яких починаються на на літеру “С” </button>
            <button  type="button" class="task">Видалити всіх вчених, ім’я яких починається на “А”</button>
            <button  type="button" class="task">Знайти вченого, який прожив найдовше і вченого, 
який прожив найменше</button>
            <button  type="button" class="task">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
        </div>
    </div>
</section>