<section class="footer">
        <img src="./img/Logo.png" alt="logo" class="logo-footer">
         <ul class="contact-list">
            <li class="contact-list-item">
                <a href="tel::+381234567890" class="contact-list-link">Tel:+38 (123) 456 78 90</a>
            </li>
            <li class="contact-list-item">
                <a href="mailto::codingmagic@gmail.com" class="contact-list-link">E-Mail: codingmagic@gmail.com</a>
            </li>
            <li class="contact-list-item">
                <p class="contact-list-link">Facebook: CodingMagic</p>
            </li>
             <li class="contact-list-item">
                <p class="contact-list-link">Twitter: CodingMagic</p>
            </li>
            <li class="contact-list-item">
                <p class="contact-list-link">Instagram: CodingMagic</p>
            </li>
        </ul>
        <div class="email-box">
           <form class="email">
            <label>
            <input class="email-input" type="email" placeholder="Ваша ел. адреса...">
           </label>
           <button class="email-button" type="button">Підписатись</button>
        </form>
        <small class="small-text">*Підписавшись, Ви зможете отримувати інформаццію про новинки на сайті</small>
    </div>
        
</section>