<section class="header">
        <img src="../img/Logo.png" alt="logo">
        <nav class="nav">
            <ul class="menu">
                <li class="menu-title">Інтерактив
                    <select class="option-list">
                        <option class="option-title" value="numerical">Числовий</option>
                        <option class="option-title" value="game">Ігровий</option>
                        <option class="option-title" value="introductory">Ознайомчий</option>
                        <option class="option-title" value="all">Всі Ігри</option>
                    </select>
                </li>
                <li class="menu-title">Наша команда</li>
                <li class="menu-title">Контакти</li>
            </ul>
        </nav>
        <div class="user-accaunt">
            <button class="background-change" type="button"> 
                <img src="../img/Sun-btn.png" alt="Sun-btn">
            </button>
            <p class="user-nam"></p>
        </div>
</section>