<section class="header">
        <img src="./img/Logo.png" alt="logo" class="logo">
        <nav class="nav">
            <ul class="menu">
                <li class="menu-title">Інтерактив
                    <div class="option-list">
                        <a href="#" class="option-title" value="numerical" data-filter="numerical">Числовий</a>
                        <a href="#" class="option-title" value="game" data-filter="game">Ігровий</a>
                        <a href="#" class="option-title" value="acquaintance" data-filter="acquaintance">Ознайомчий</a>
                        <a href="#" class="option-title" value="all" data-filter="all">Всі Ігри</a>
                    </div>
                </li>
                <li class="menu-title">Наша команда</li>
                <li class="menu-title">Контакти</li>
            </ul>
        </nav>
        <div class="user-accaunt">
            <button class="background-change" type="button"> 
                <img src="./img/Sun-btn.png" alt="Sun-btn" class="background-change-icon">
            </button>
            <p class="user-name"></p>
        </div>
</section>