<selection class="header">
    <div class="containet">
        <img src="../img/Logo.png" alt="logo">
        <nav class="">
            <ul class="">
                <li class="">Інтерактив
                    <select class="">
                        <option class="" value="numerical">Числовий</option>
                        <option class="" value="game">Ігровий</option>
                        <option class="" value="introductory">Ознайомчий</option>
                        <option value="all">Всі Ігри</option>
                    </select>
                </li>
                <li class="">Наша команда</li>
                <li class="">Контакти</li>
            </ul>
        </nav>
        <div>
            
        </div>
    </div>
</selection>