<div class="backdrop is-hidden js-backdrop">
  <div class="modal">
    <button class="modal-close-btn" type="button" data-action="close-modal"></button>
    <p class="modal-text">
      Привіт! <br> Ви потрапили на сайт інтерактивних ігор та завдань Надіємось, що
      вам сподобається і ви отримаєте позитивні емоції! <br> Бажаємо Вам гарно
      провести час!
    </p>
    <div class="box-modal">
      <p class="box-text">Введіть своє ім’я:</p>
      <form class="modal-form">
        <input class="form-text" type="text" placeholder="Ваше ім’я..." />
        <button class="form-modal-btn" type="submit">Зберегти</button>
      </form>
    </div>
  </div>
</div>
