<section class="section" id="3">
    <div class="container">
        <h2 class="all-title">Камінь - ножиці - папір</h2>
        <div class="papier-game">
        <div class="game">
            <div class="game">
            <button class="button-game" data-choice="rock">
                <img src="./img/stone.png" alt="Камінь" width="60">
            </button> 
            <button class="button-game" data-choice="scissors">
                <img src="./img/shears.png" alt="Ножиці" width="60">
            </button> 
            <button class="button-game" data-choice="paper">
                <img src="./img/papier.png" alt="Папір" width="60">
            </button> 
        </div>
        <p class="game-text"></p>
    </div>
    <div class="score">
        <p class="score-text">Рахунок:</p>
        <p class="score-text comp-score">Комп’ютер - <span id="comp-score">0</span></p></p>
        <p class="score-text user-score">Ви - <span id="user-score">0</span></p>
    </div>
    </div>
    <div class="line"></div>
    </div>
</section>