<section class="section">
    <div class="container">
        <h2 class="all-title">Камінь - ножиці - папір</h2>
        <div class="game">
            <button class="button-game" type="button"> <img src="" alt="">  </button> 
            <button class="button-game" type="button"> <img src="" alt="">  </button> 
            <button class="button-game" type="button"> <img src="" alt="">  </button> 
        </div>
        <p class="game-text">Ви виграли раунд!</p>
    </div>
    <div class="score">
        <p class="score-text">Рахунок:</p>
        <p class="score-text">Комп’ютер -</p>
        <p class="score-text">Ви -</p>
    </div>
</section>