.first-title{
    margin: 0 auto; 
    display: flex;
    justify-content: center;
  font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: #000;
padding-bottom: 36px;
border-bottom: 1px solid black;
}



.box-age{
margin: 0 auto;
}

.form-age{
position: relative;

display: flex;
column-gap: 149px;
}

.form-age-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
color: #7e7e7e;
border-radius: 20px;
padding: 10px 45px 10px 10px;
width: 215px;
height: 35px;
}
.form-age-btn{
    position: absolute;
    border-radius: 0 20px 20px 0;
    left: 180px;
    width: 35px;
    height: 35px;
    background: #d7d7d7;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
}