body{
    width: 1440px;
     margin: auto;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
}

.section{
    /* padding-top: 36px;
    padding-bottom: 36px; */
    background: #fff;
}
.section-dark{
    /* background: gray; */
}
.container{
    width: 1090px;
    
    margin-left: auto;
    margin-right: auto;
  
}

.all-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: #000;
padding-top: 36px;
    padding-bottom: 36px;
}

.line{
    width: 536px;
    height: 1px;
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
}