.footer{
    display: flex;
    padding-top: 61px;
    padding-bottom: 59px;
}
.logo-footer{
    width: 165px;
    height: 70px;
    padding-left: 26px;
}
.contact-list{
    padding-left: 185px;
}
.contact-list-item{
line-height: 170%;
color: #000;
}
.email-box{
    display: flex;
    column-gap: 36px;
    padding-left: 185px;
}
.email-input{
    position: relative;
    border-radius: 20px;
padding: 10px 80px 10px 10px;
width: 204px;
height: 35px;
color: #7e7e7e;
background: #d7d7d7;
}
.email-button{
margin-left: 36px;
color: #fff;
border-radius: 20px;
padding: 10px;
width: 107px;
height: 35px;
background: #000;
}
.small-text{
    position: absolute;
font-size: 6px;
padding-top: 60px;
color: #000;
}