.header {
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: #f7faff;
}

.header-position {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 93px;
  height: 38px;
}

.nav {
display: block;
}

.menu {
    display: flex;
    align-items: center;
}
.menu-title{
    font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
color: #000;
}

.burger-btn {
  border: none;
  background-color: #f7faff;

}