/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./body.css');
@import url('./header.css');
@import url('./modal-window.css');
@import url('./birthday.css');
@import url('./number.css');
@import url('./papier.css');
@import url('./calculator.css');
@import url('./time-calculator.css');
@import url('./choice.css');
@import url('./corect-answer.css');
@import url('./footer.css');

/* @import url('./vite-promo.css'); */

:root {
  --font-family: 'Montserrat Alternates', sans-serif;
  --second-family: 'Inter', sans-serif;
  --third-family: 'Sacramento', sans-serif;
}
